@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

:root {
    --body-bg-color: #22212c;
    --text-color: #837e9f;
    --bg-cards: #302f3d;
    --bg-techs: #cb92b1;
}

*{
    font-family: 'Merriweather Sans', sans-serif;
    margin: 0;
    padding: 0;
    height: 50vh;
    width: 98vw;
    box-sizing: border-box;
}

.container{
    box-sizing: inherit;
    height: 100%;
    width: 100%;
    border: 2px solid black;
}

.box{
    box-sizing: inherit;

}
